/* Application-wide Styles */
@import './assets/theme.scss';


html, body { height: 100%; }

body {
    background-color: $lightGrey;
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
    color: $indigo;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2,
h3 {
    color: $black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}



body,
input[type="text"],
button {
    color: $black;
    font-family: Cambria, Georgia, serif;
}

button {
    background-color: $white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: $black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: $black;
    color: $white;
}

button:disabled {
    background-color: $white;
    color: $lightGrey;
    cursor: auto;
}

i::before{
    color: $black;
}

/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}