<div class="container">
    <h2>My Sorare cards</h2>
    <div class="row">
        <div *ngFor="let card of this.cards" class="col-md-2">
            <img class="img-thumbnail" src="{{card.pictureUrl}}" alt="{{card.slug}}" />
            <div class="col-md-12">
                {{card.player.displayName}}
                <span (click)="openPlayerInfos(card.player)"><i class="bi bi-arrow-up-right-square-fill"></i></span>
            </div>
            <div class="row">
                <div class="col-md-6">{{card.ownerWithRates.from | date:'shortDate'}}</div>
                <div *ngIf="card.ownerWithRates.price > 0" class="col-md-6">{{card.ownerWithRates.price | weiConvert }} Ξ</div>
            </div>
        </div>
    </div>

</div>