.modal-header {
    max-height: 115px;
}
.spinner-label {
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
}
.modal-header-img {
    max-width: 35%;
    padding-top: 75px;
}

.cards-filter-row {
    .mat-mdc-form-field {
        display: block;
    }
    button {
        margin-top: 0;
    }
}

.modal-link:hover {
    cursor: pointer;
    text-decoration: underline;
}