/* HeroesComponent's private CSS styles */
@import '@angular/material/theming';

@include mat-core();


$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 40em;

    li {
        display: inline-block;
        width: 25em;
    }
}

.heroes button {
    display: inline-block;
    margin: .5em;
    height: 1.8em;
}

.heroes button.hero-btn {
    width: 15em;
}
